html{
    height: 100vh;
}

.h{
    height: 100vh;
}

.title-page{
    text-align: center;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login #login-form{
    text-align: center;
}

#login .switch-remember{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gestion-sites{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#gestion-sites .filter{
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#gestion-sites .table-sites{
    height: 60%;
    width: 100%;
    overflow-y: auto;
}


#home #home-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5%;
}

#home #home-form .filter-p1{
    width: 60%;
}

#home #home-form .filter-p1 .home-filer-date{
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .home-info{
    text-align: right;
}

#home #table-home{
    width: 100%;
    max-height: 80%;
}