html{
    height: 100vh;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#login #login-form{
    text-align: center;
}

#login .switch-remember{
    display: flex;
    justify-content: center;
    align-items: center;
}